.service__container-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .service__container-content {
    display: block;

    .services__service-container {
      margin: 2rem 0;
    }
  }
}
